## COGS 108 - Final Project

## Part 0: Setup

In [2]:
# Imports
import pandas as pd
import numpy as np

## Part 1: Data Cleaning

## 1a) Condense dat files: block hash, transaction overview
Drop irrelevant columns in bh.dat and tx.dat; store result dataframes to bh.dat and tx.dat.

Result:

bh.dat: 

| Block ID | Block Timestamp |

tx.dat: 

|Transaction ID | Block ID |

In [ ]:
# file path for data
bh_filepath = 'data/bh.dat'
tx_filepath = 'data/tx.dat'

# read data
df_block_hash = pd.read_csv(bh_filepath, sep = '\t')
df_transaction = pd.read_csv(tx_filepath, sep = '\t')

# set column names
df_block_hash.columns = ['block ID', 'hash', 'timestamp', 'number of transactions']
df_transaction.columns = ['transaction ID', 'block ID', 'input count', 'output count']

# drop irrelevant columns
df_block_hash.drop(['hash', 'number of transactions'], axis = 1, inplace = True)
df_transaction.drop(['input count', 'output count'], axis = 1, inplace = True)

# check head after drop
print(df_block_hash.head())
print(df_transaction.head())

# write block hash dataframe to a new dat file
bh_drop_filepath = 'data/bh.dat'
df_block_hash.to_csv(path_or_buf = bh_drop_filepath, sep = '\t', index = False, columns = ['block ID', 'timestamp'])

tx_drop_filepath = 'data/tx.dat'
df_transaction.to_csv(path_or_buf = tx_drop_filepath, sep = '\t', index = False, 
                      columns = ['transaction ID', 'block ID'])

## 1b) Condense dat files: transaction input
Split txin.dat to small dat files; drop irrelevant columns; store result dataframes to txin_1.dat to txin_11.dat.

Result:

txin_1.dat - txin_11.dat: 

| Transaction ID | Address ID |

In [ ]:
# split transaction_input file
!split -l 70000000 data/txin.dat t

# set filepath
num_txin_file = 11

txin_input_filepath = ['txin/taa', 'txin/tab', 'txin/tac', 'txin/tad', 'txin/tae', 'txin/taf', 'txin/tag', 'txin/tah',
                      'txin/tai', 'txin/taj', 'txin/tak']
txin_output_filepath = ['txin/txin_1.dat', 'txin/txin_2.dat', 'txin/txin_3.dat', 'txin/txin_4.dat', 'txin/txin_5.dat', 
                        'txin/txin_6.dat', 'txin/txin_7.dat', 'txin/txin_8.dat', 'txin/txin_9.dat', 'txin/txin_10.dat', 
                        'txin/txin_11.dat']

# for loop to drop irrelevant columns in transaction_input
for x in range(num_txin_file):
    curr_input_filepath = txin_input_filepath[x]
    curr_output_filepath = txin_output_filepath[x]
    
    df_txin = pd.read_csv(curr_input_filepath, sep = '\t')
    
    df_txin.columns = ['transaction ID', 'input sequence', 'previous transaction ID', 'previous output sequence', 
                       'address ID', 'sum']
    
    df_txin.drop(['input sequence', 'previous transaction ID', 'previous output sequence', 'sum'], 
                 axis = 1, inplace = True)
    
    df_txin.to_csv(path_or_buf = curr_output_filepath, sep = '\t', index = False, 
                   columns = ['transaction ID', 'address ID'])

## 1c) Condense dat files: transaction output
Split txout.dat to small dat files; drop irrelevant columns; store result dataframes to txout_1.dat to txout_12.dat.

Result:

txout_1.dat - txout_12.dat: 

| Transaction ID | Address ID |

In [ ]:
# split transaction_output file
!split -l 70000000 data/txout.dat m

# set filepath
num_txout_file = 12

txout_input_filepath = ['txout/maa', 'txout/mab', 'txout/mac', 'txout/mad', 'txout/mae', 'txout/maf', 'txout/mag', 
                        'txout/mah', 'txout/mai', 'txout/maj', 'txout/mak', 'txout/mal']
txout_output_filepath = ['txout/txout_1.dat', 'txout/txout_2.dat', 'txout/txout_3.dat', 'txout/txout_4.dat', 
                         'txout/txout_5.dat', 'txout/txout_6.dat', 'txout/txout_7.dat', 'txout/txout_8.dat', 
                         'txout/txout_9.dat', 'txout/txout_10.dat', 'txout/txout_11.dat', 'txout/txout_12.dat']

# for loop to drop irrelevant columns in transaction_output
for x in range(num_txout_file):
    curr_input_filepath = txout_input_filepath[x]
    curr_output_filepath = txout_output_filepath[x]
    
    df_txout = pd.read_csv(curr_input_filepath, sep = '\t')
    
    df_txout.columns = ['transaction ID', 'output sequence', 'address ID', 'sum']
    
    df_txout.drop(['output sequence', 'sum'], axis = 1, inplace = True)
    
    df_txout.to_csv(path_or_buf = curr_output_filepath, sep = '\t', index = False, 
                   columns = ['transaction ID', 'address ID'])

## 1d) Convert UNIX time to standard time
Implement a function that converts UNIX to standard time; add a column "year" in bh.dat.

Before: 

| Block ID | Block Timestamp |

After: 

| Block ID | Block Timestamp | Month | Year |

In [ ]:
from datetime import datetime
file='bh_simplified.dat'

df=pd.read_csv(file, sep='\t')

def getYear(data):
    d=datetime.fromtimestamp(data)
    return d.timetuple().tm_year
def getMonth(data):
    d=datetime.fromtimestamp(data)
    return d.timetuple().tm_mon

df['month']=df['timestamp'].apply(getMonth)
df['year']=df['timestamp'].apply(getYear)

df.to_csv('bh_readable.dat', sep='\t', index=False)

## 1e) Range of Block IDs for each year

In [ ]:
bh_filepath = 'data/bh_readable.dat'
df_block_hash = pd.read_csv(bh_filepath, sep = '\t')
df_block_hash.columns = ['blockID', 'timestamp', 'month', 'year']
df_block_hash.head()

range_block_each_year = {}

target_year = df_block_hash["year"][0]

target_block_start = 1
target_block_end = 1

for row in df_block_hash.itertuples():
    curr_year = row.year
    
    if curr_year > target_year:
        curr_block_id = row.blockID
        
        target_block_end = curr_block_id - 1
        
        range_block_each_year[target_year] = (target_block_start, target_block_end)
        
        target_block_start = curr_block_id
        
        target_year += 1
        
    if target_year == 2018:
        break
        
print(range_block_each_year)

## 1f) Range of Transaction IDs for each year

In [ ]:
tx_filepath = 'data/tx.dat'
df_tx = pd.read_csv(tx_filepath, sep = '\t')
df_tx.columns = ['transactionID', 'blockID']

range_tx_each_year = {}

for key in range_block_each_year:
    value = range_block_each_year[key]
    
    block_range_start = value[0]
    block_range_end = value[1]
    
    df_curr = df_tx[df_tx['blockID'] == block_range_start]
    df_curr.reset_index()
    tx_range_start = df_curr.iloc[0]['transactionID']
    
    df_curr = df_tx[df_tx['blockID'] == block_range_end]
    df_curr.reset_index()
    tx_range_end = df_curr.iloc[len(df_curr) - 1]['transactionID']
    
    range_tx_each_year[key] = (tx_range_start, tx_range_end)
    
print(range_tx_each_year)

## 1g) Re-split tx_in and tx_out dat files to groups of 2-year time periods

Used VIM to split up into 2-year chunks.

## 1h) Range of Address IDs for each year

In [3]:
data2 = pd.read_csv('TxinFiles/txin_2010.dat', sep='\t')
data3 = pd.read_csv('TxinFiles/txin_2011.dat', sep='\t')
data4 = pd.read_csv('TxinFiles/txin_2012.dat', sep='\t')
data5 = pd.read_csv('TxinFiles/txin_2013.dat', sep='\t')
#data6 = pd.read_csv('TxinFiles/txin_2014.dat', sep='\t')
#data7 = pd.read_csv('TxinFiles/txin_2015.dat', sep='\t')
#data8 = pd.read_csv('TxinFiles/txin_2016.dat', sep='\t')
#data9 = pd.read_csv('TxinFiles/txin_2017.dat', sep='\t')

In [4]:
#data8['address ID'] = pd.to_numeric(data8['address ID'], errors='coerce', downcast='integer')

NameError: name 'data8' is not defined

In [6]:
data = [data2, data3, data4, data5]#, data6, data7, data8, data9]
years = ['2010', '2011', '2012', '2013']#, '2014', '2015', '2016', '2017']

In [7]:
max_array = []
for frame in data:
    tx_max = frame['address ID'].max()
    max_array.append(tx_max)

In [8]:
min_array = [data2['address ID'].min()]
for i in range(len(max_array)):
    min_array.append(max_array[i] + 1)

In [9]:
range_id_each_year = {}
for i in range(len(years)):
    range_id_each_year[years[i]] = (min_array[i], max_array[i])
pd.DataFrame(range_id_each_year).to_csv('tx.dat', sep='\t', index=False)
range_id_each_year

{'2010': (171, 176514),
 '2011': (176515, 2769557),
 '2012': (2769558, 8714741),
 '2013': (8714742, 24822602)}

## Part 2: Sample Datasets
Data files at this point:

block hash: bh.dat

transaction overview: tx.dat

transaction input: txin_2010.dat, txin_2012.dat, txin_2014.dat, txin_2016.dat

## 2b) Initialize the Dataframe
Initialize the following dataframe:

| Address ID | Year | NumTX |

Address ID: Bitcoin account identifier

Year: Year in which the Address ID has its first transaction

NumTx: Number of transactions in total belong to that Bitcoin Address ID

In [81]:
df_Addr_Year=pd.DataFrame()

## 2c) Sample Address ID

Randomly Sample 100 address IDs in each transaction input/output dat file.

Update the following columns in the dataframe:

| Address ID | Year |

In [82]:
address = data2['address ID'][data2['address ID'] >= 31617]
address = address[address <= 176514]
address.drop_duplicates()
id_2010 = np.array(address.sample(125))

In [83]:
address = data3['address ID'][data3['address ID'] >= 176515]
address = address[address <= 2769557]
address.drop_duplicates()
id_2011 = np.array(address.sample(125))

In [84]:
id_10_11 = id_2010 + id_2011
df_Temp=pd.DataFrame()
df_Temp['Address ID']=id_10_11
df_Temp['Year']='2010'
df_Temp['NumTX']='0'
df_Addr_Year=pd.concat([df_Addr_Year, df_Temp])

In [85]:
address = data4['address ID'][data4['address ID'] >= 2769558]
address = address[address <= 8714741]
address.drop_duplicates()
id_2012 = np.array(address.sample(125))

In [86]:
address = data5['address ID'][data5['address ID'] >= 8714742]
address = address[address <= 24822602]
address.drop_duplicates()
id_2013 = np.array(address.sample(125))

In [87]:
id_12_13 = id_2012 + id_2013
df_Temp=pd.DataFrame()
df_Temp['Address ID']=id_12_13
df_Temp['Year']='2012'
df_Temp['NumTX']='0'
df_Addr_Year=pd.concat([df_Addr_Year, df_Temp])

In [ ]:
address = data6['address ID'][data6['address ID'] >= 24822603]
address = address[address <= 58929852]
address.drop_duplicates()
id_2014 = np.array(address.sample(125))

In [ ]:
address = data7['address ID'][data7['address ID'] >= 58929853]
address = address[address <= 115528140]
address.drop_duplicates()
id_2015 = np.array(address.sample(125))

In [ ]:
id_14_15 = id_2014 + id_2015
df_Temp=pd.DataFrame()
df_Temp['Address ID']=id_14_15
df_Temp['Year']='2012'
df_Temp['NumTX']='0'
df_Addr_Year=pd.concat([df_Addr_Year, df_Temp])

In [ ]:
address = data8['address ID'][data8['address ID'] >= 115528141]
address = address[address <= 210026230]
address.drop_duplicates()
id_2016 = np.array(address.sample(125))

In [ ]:
address = data9['address ID'][data9['address ID'] >= 210026231]
address = address[address <= 369453964]
address.drop_duplicates()
id_2017 = np.array(address.sample(125))

In [ ]:
id_16_17 = id_2016 + id_2017
df_Temp=pd.DataFrame()
df_Temp['Address ID']=id_16_17
df_Temp['Year']='2012'
df_Temp['NumTX']='0'
df_Addr_Year=pd.concat([df_Addr_Year, df_Temp])

## 2d) Accumulate Number of Transactions

Iterate through all the transaction inputs and outputs; accumulate the numbers of transactions for each sample.

Update the following columns in the dataframe:

| NumTX |

In [96]:
num_tx = {}
data_10_17 = [data2, data3, data4, data5]#, data6, data7, data8, data9]
Temp=df_Addr_Year
for index, row in Temp.iterrows():
    for frame in data_10_17:
        amountOfTransactions = len(frame[frame['address ID'] == row['Address ID']].drop_duplicates())
        #print(amountOfTransactions)
        df_Addr_Year.loc[index, 'NumTX'] = int(df_Addr_Year[df_Addr_Year['Address ID']==row['Address ID']]['NumTX']) + amountOfTransactions
df_Addr_Year

     Address ID  Year  NumTX
0        763749  2010      2
1       2726955  2010      2
2        494581  2010      0
3       1700971  2010      1
4       1442127  2010      2
5        741905  2010      4
6       2284249  2010      2
7       2217016  2010     16
8       1162955  2010      1
9       1570685  2010      2
10      2146049  2010      2
11      1307397  2010      3
12      1806457  2010      1
13      2377976  2010      1
14      2095730  2010      1
15       734724  2010      1
16       744396  2010      1
17      1890369  2010      1
18       419681  2010      2
19      2043868  2010      1
20      2676659  2010      2
21      2123240  2010      2
22       276147  2010      2
23       564243  2010      2
24      1306193  2010      2
25      1082563  2010      2
26      2147679  2010      0
27      2763088  2010      5
28       802278  2010      2
29      2790759  2010      1
..          ...   ...    ...
95     20105411  2012      2
96     20878485  2012      2
97     30039697  2012      1
98     17350874  2012      2
99     17036543  2012      2
100    15533635  2012      2
101    13050658  2012      1
102    20405337  2012      2
103    15972803  2012      2
104    20984154  2012      1
105    21622533  2012      0
106    19024985  2012      2
107    16328712  2012      2
108    20625423  2012      2
109    29504302  2012      1
110    16568500  2012      3
111    26540534  2012      1
112    16127841  2012      2
113    27682567  2012      1
114    23512576  2012      2
115    17786639  2012      2
116    26513589  2012      1
117    20959359  2012      2
118    27900012  2012      1
119    23555045  2012      2
120    18784870  2012      2
121    23164853  2012      2
122    29329462  2012      0
123    21582906  2012      2
124    25602514  2012      1

[250 rows x 3 columns]

## Part 3: Normal Distribution and T-test
Apply Normal Distributions and T-tests to the following 2 groups of samples only:

Group 1:

Samples of Address IDs that have their first transaction in year 2010 or 2011

Group 2:

Samples of Address IDs that have their first transaction in year 2016 or 2017

## 3a) Mean number of transactions
What is the average number of transactions for address IDs from each of the 2 groups?

Get a taste of how different the means are.

In [2]:
# Code here

## 3b) Normal Distribution Test
Check that each of the 2 groups has nearly normal distribution.

In [ ]:
# Code here

## 3c) Compare Number of Samples and Population
Check that the number of samples is < 10 % of the total population.

In [ ]:
# Code here

## 3d) T-test
Apply the T-test to the 2 groups.

In [ ]:
# Code here

## Part 4: Analysis of Variance/ANOVA
Apply ANOVA to all the 4 groups of samples:

Group 1:

Samples of Address IDs that have their first transaction in year 2010 or 2011

Group 2:

Samples of Address IDs that have their first transaction in year 2012 or 2013

Group 3:

Samples of Address IDs that have their first transaction in year 2014 or 2015

Group 4:

Samples of Address IDs that have their first transaction in year 2016 or 2017

## 4a) Normal Distribution Test
Check that each group has nearly normal distribution.

In [ ]:
# Code here

## 4b) Compare Number of Samples and Population
Check that the number of samples is < 10 % of the total population.

In [ ]:
# Code here

## 4c) ANOVA test
Apply ANOVA to the 4 groups of samples.

In [ ]:
# Code here

## Part 5: Linear Model
Apply a Linear Model to the data.

Independent variable:

time: month and year when the address ID has its first transaction

Dependent variable:

NumTx: Number of total transactions for each address ID

## 5a) Create Linear Model

In [ ]:
# Code here

## 5b) Correlation Coefficient

In [ ]:
# Code here

## 5c) Predict Number of Transactions from Age of Address ID

In [ ]:
# Code here

## Part 6: Further Analysis