In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
bh_filepath = 'data/bh_readable.dat'

In [3]:
df_block_hash = pd.read_csv(bh_filepath, sep = '\t')

In [4]:
df_block_hash.columns = ['blockID', 'timestamp', 'month', 'year']

In [9]:
df_block_hash.head()

   blockID   timestamp  month  year
0        1  1231469665      1  2009
1        2  1231469744      1  2009
2        3  1231470173      1  2009
3        4  1231470988      1  2009
4        5  1231471428      1  2009

In [6]:
range_block_each_year = {}

target_year = df_block_hash["year"][0]

In [36]:
target_block_start = 1
target_block_end = 1

In [37]:
for row in df_block_hash.itertuples():
    curr_year = row.year
    
    if curr_year > target_year:
        curr_block_id = row.blockID
        
        target_block_end = curr_block_id - 1
        
        range_block_each_year[target_year] = (target_block_start, target_block_end)
        
        target_block_start = curr_block_id
        
        target_year += 1
        
    if target_year == 2018:
        break

In [40]:
range_block_each_year[2009] = (1, 32526)
print(range_block_each_year)

{2010: (32527, 100465), 2011: (100466, 160084), 2012: (160085, 214624), 2013: (214625, 278068), 2014: (278069, 336919), 2015: (336920, 391223), 2016: (391224, 446083), 2017: (446084, 502018), 2009: (1, 32526)}

In [11]:
tx_filepath = 'data/tx.dat'

In [12]:
df_tx = pd.read_csv(tx_filepath, sep = '\t')

In [13]:
df_tx.columns = ['transactionID', 'blockID']

In [41]:
range_tx_each_year = {}

In [45]:
for key in range_block_each_year:
    value = range_block_each_year[key]
    
    block_range_start = value[0]
    block_range_end = value[1]
    
    df_curr = df_tx[df_tx['blockID'] == block_range_start]
    df_curr.reset_index()
    tx_range_start = df_curr.iloc[0]['transactionID']
    
    df_curr = df_tx[df_tx['blockID'] == block_range_end]
    df_curr.reset_index()
    tx_range_end = df_curr.iloc[len(df_curr) - 1]['transactionID']
    
    range_tx_each_year[key] = (tx_range_start, tx_range_end)

In [46]:
print(range_tx_each_year)

{2010: (32746, 218178), 2011: (218179, 2121061), 2012: (2121062, 10582502), 2013: (10582503, 30228777), 2014: (30228778, 55495675), 2015: (55495676, 101193053), 2016: (101193054, 183831891), 2017: (183831892, 287919354), 2009: (1, 32745)}

In [16]:
df_tx.head()

   transactionID  blockID
0              1        1
1              2        2
2              3        3
3              4        4
4              5        5

In [17]:
dfhaha = df_tx[df_tx['blockID'] == 100427]

In [22]:
dfhaha

        transactionID  blockID
218082         218083   100427
218083         218084   100427
218084         218085   100427
218085         218086   100427
218086         218087   100427
218087         218088   100427
218088         218089   100427
218089         218090   100427
218090         218091   100427
218091         218092   100427
218092         218093   100427

In [27]:
dfhaha.reset_index()

     index  transactionID  blockID
0   218082         218083   100427
1   218083         218084   100427
2   218084         218085   100427
3   218085         218086   100427
4   218086         218087   100427
5   218087         218088   100427
6   218088         218089   100427
7   218089         218090   100427
8   218090         218091   100427
9   218091         218092   100427
10  218092         218093   100427

In [43]:
dfhaha.iloc[len(dfhaha) - 1]['transactionID']

218083